<h1>Add a new word</h1>
<form class="" action="/newWord" method="post">
    <label for="word">Word</label>
    <input type="text" name="word" id='word' value=''><br>
    <label for="type">Type</label>
    <input type="text" name="type" id='type' value=''><br>
    <label for="Translation">Translation</label>
    <input type="text" name="translation" id='translation' value=''><br>
    <input type="submit" name="addNewWord" value='Add a new word'>
</form>
