<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Dictionary</title>
    </head>

    <body>

        <%- include addWordForm.ejs %><br>
        <%- include searchForm.ejs %><br>
    </body>
</html>
