<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Dictionary</title>
    </head>

    <body>
        <form class="" action="/" method="post">
                <input type="submit" name="addNewWord" value='Add a new word'>
        </form>

        <form class="" action="/result" method="get">
                <input type="text" name="q" id='searchText'autofocus>
                <input type="submit" value='Yalla !'>
        </form>

    </body>
</html>
