<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Dictionary</title>
    </head>

    <body>

        <%- include addNewWordForm.ejs %>
        <br>
        <h1>Search for a word</h1>
        <form class="" action="/searchResult" method="get">
                <label for="searchText">Enter a word</label><br>
                <input type="text" name="q" id='searchText' autofocus>
                <input type="submit" value='Yalla !'>
        </form>

    </body>
</html>
