<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>New Word</title>
    </head>
    <body>
        You have added a new word to the database !
        <%- include wordDetails.ejs %> <br>

        <a href="/">Back to search</a>
    </body>
</html>
