div.newWordForm
    h1 Add a new word

    form(action='newWord' method='post')
        include wordDetails.pug
        input(type='submit' name='addNewWord' id='addNewWordFormButton' value='Add a new word')
