<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="styles.css">
        <title>New word form</title>
    </head>

    <body>

        <h1>Add a new word</h1>
        <form class="" action="/newWord" method="post">

            <div class="top-level">
                <h2>General information</h2>
                <div class="">
                    <label for="word">Word</label>
                    <input type="text" name="word" id='word' value=''><br>
                </div>
                <div class="">
                    <label for="type">Type</label>
                    <input type="text" name="type" id='type' value=''><br>
                </div>
                <div class="">
                    <label for="Translation">Translation</label>
                    <input type="text" name="translation" id='translation' value=''><br>
                </div>
            </div>

            <div class="verbs">
                <div class="form1">
                    <div class="form_title">
                        Form 1
                    </div>
                    <div class="perfect">
                        <h2>Perfect</h2>
                        <label for="form1_perfect_ana">Ana</label>
                        <input type="text" name="form1_perfect_ana" id='form1_perfect_ana' value=''><br>

                        <label for="form1_perfect_anta">Anta</label>
                        <input type="text" name="form1_perfect_anta" id='form1_perfect_anta' value=''><br>

                        <label for="form1_perfect_anti">Anti</label>
                        <input type="text" name="form1_perfect_anti" id='form1_perfect_anti' value=''><br>

                        <label for="form1_perfect_huwa">Huwa</label>
                        <input type="text" name="form1_perfect_huwa" id='form1_perfect_huwa' value=''><br>

                        <label for="form1_perfect_hiya">Hiya</label>
                        <input type="text" name="form1_perfect_hiya" id='form1_perfect_hiya' value=''><br>

                        <br>

                        <label for="form1_perfect_antumaa_male">Antumaa (male)</label>
                        <input type="text" name="form1_perfect_antumaa_male" id='form1_perfect_antumaa_male' value=''><br>

                        <label for="form1_perfect_antumma_female">Antumaa (female)</label>
                        <input type="text" name="form1_perfect_antumma_female" id='form1_perfect_antumma_female' value=''><br>

                        <label for="form1_perfect_huma_male">Humaa (male)</label>
                        <input type="text" name="form1_perfect_huma_male" id='form1_perfect_huma_male' value=''><br>

                        <label for="form1_perfect_huma_female">Humaa (female)</label>
                        <input type="text" name="form1_perfect_huma_female" id='form1_perfect_huma_female' value=''><br>

                        <br>

                        <label for="form1_perfect_nahnu">Nahnu</label>
                        <input type="text" name="form1_perfect_nahnu" id='form1_perfect_nahnu' value=''><br>

                        <label for="form1_perfect_antum">Antum</label>
                        <input type="text" name="form1_perfect_antum" id='form1_perfect_antum' value=''><br>

                        <label for="form1_perfect_antunna">Antunna</label>
                        <input type="text" name="form1_perfect_antunna" id='form1_perfect_antunna' value=''><br>

                        <label for="form1_perfect_hum">Hum</label>
                        <input type="text" name="form1_perfect_hum" id='form1_perfect_hum' value=''><br>

                        <label for="form1_perfect_hunna">Hunna</label>
                        <input type="text" name="form1_perfect_hunna" id='form1_perfect_hunna' value=''><br>
                    </div>

                    <div class="imperfect">
                        <h2>Imperfect</h2>
                        <label for="form1_imperfect_ana">Ana</label>
                        <input type="text" name="form1_imperfect_ana" id='form1_imperfect_ana' value=''><br>

                        <label for="form1_imperfect_anta">Anta</label>
                        <input type="text" name="form1_imperfect_anta" id='form1_imperfect_anta' value=''><br>

                        <label for="form1_imperfect_anti">Anti</label>
                        <input type="text" name="form1_imperfect_anti" id='form1_imperfect_anti' value=''><br>

                        <label for="form1_imperfect_huwa">Huwa</label>
                        <input type="text" name="form1_imperfect_huwa" id='form1_imperfect_huwa' value=''><br>

                        <label for="form1_imperfect_hiya">Hiya</label>
                        <input type="text" name="form1_imperfect_hiya" id='form1_imperfect_hiya' value=''><br>

                        <br>

                        <label for="form1_imperfect_antumaa_male">Antumaa (male)</label>
                        <input type="text" name="form1_imperfect_antumaa_male" id='form1_imperfect_antumaa_male' value=''><br>

                        <label for="form1_imperfect_antumma_female">Antumaa (female)</label>
                        <input type="text" name="form1_imperfect_antumma_female" id='form1_imperfect_antumma_female' value=''><br>

                        <label for="form1_imperfect_huma_male">Humaa (male)</label>
                        <input type="text" name="form1_imperfect_huma_male" id='form1_imperfect_huma_male' value=''><br>

                        <label for="form1_imperfect_huma_female">Humaa (female)</label>
                        <input type="text" name="form1_imperfect_huma_female" id='form1_imperfect_huma_female' value=''><br>

                        <br>

                        <label for="form1_imperfect_nahnu">Nahnu</label>
                        <input type="text" name="form1_imperfect_nahnu" id='form1_imperfect_nahnu' value=''><br>

                        <label for="form1_imperfect_antum">Antum</label>
                        <input type="text" name="form1_imperfect_antum" id='form1_imperfect_antum' value=''><br>

                        <label for="form1_imperfect_antunna">Antunna</label>
                        <input type="text" name="form1_imperfect_antunna" id='form1_imperfect_antunna' value=''><br>

                        <label for="form1_imperfect_hum">Hum</label>
                        <input type="text" name="form1_imperfect_hum" id='form1_imperfect_hum' value=''><br>

                        <label for="form1_imperfect_hunna">Hunna</label>
                        <input type="text" name="form1_imperfect_hunna" id='form1_imperfect_hunna' value=''><br>
                    </div>
                </div>
            </div>
            <input type="submit" name="addNewWord" value='Add a new word' id=addWordButton>
            <br>
        </form>
    </body>
</html>
