You searched for : <b>"<%= q %>"</b>

<br>

These are your results :

<br>
<form class="" action="/db" method="post">
        <input type="submit" name="addNewWord" value='Add a new word'>
</form>
<form class="" action="/db" method="put">
        <input type="submit" name="updateWord" value='Update this word'>
</form>



<a href="/">Back to search</a>
