h1 Search for a word

form(action="/words" method="get")
    div.searchForm
        label(for="searchText") Enter a word
        input(type="text" name="q" id='searchText' autofocus)
        input(type="submit" value='Yalla !')
        br
