<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Search result</title>
    </head>
    <body>
        <h1>
            You searched for : <b>"<%= q %>"</b><br>
        </h1>

        <%- include wordDetails.ejs %><br>


        <a href="/">Back to search</a>

    </body>
</html>
