doctype html
html
head
    title Search result
    link(rel='stylesheet' type='text/css' href='styles.css')
body
    h1 You searched for "#{q}"
    br
    
    div word already exists
    br
    
    a(href='/') Back to search
